absl-py==0.8.1
astor==0.8.0
backcall==0.1.0
beautifulsoup4==4.8.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
distro==1.4.0
future==0.18.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.24.3
h5py==2.10.0
imageio==2.6.1
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
joblib==0.14.0
Keras==2.0.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
networkx==2.4
numpy==1.17.3
opt-einsum==3.1.0
pandas==0.25.2
parso==0.5.1
pdfminer.six==20191020
pdftotree==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==2.0.10
protobuf==3.10.0
ptyprocess==0.6.0
pycryptodome==3.9.0
Pygments==2.4.2
pyparsing==2.4.2
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.1
selectivesearch==0.4
six==1.12.0
sklearn==0.0
sortedcontainers==2.1.0
soupsieve==1.9.4
tabula-py==1.4.1
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
traitlets==4.3.3
Wand==0.5.7
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
