# python 3.7.6

seqeval==0.0.12
seaborn==0.9.0
Keras==2.3.1
torch==1.4.0
pytorch_pretrained_bert==0.6.2
matplotlib==3.1.1
numpy==1.17.2
tqdm==4.36.1
pandas==0.25.1
scikit_learn==0.22.2.post1
tensorflow==1.15.0 # python 3.7.6 needed for this version